body{

    background-color: rgb(216, 198, 198);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}

.container{
    width: 650px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 12px rgb(73, 79, 80), -1px 0 12px rgb(73, 79, 80);
    
}

.container1{
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 12px rgb(73, 79, 80), -1px 0 12px rgb(73, 79, 80);

}

.left-el,
.right-el{
    margin: 10px;
    padding: 20px;
}
h2{
    font-weight: 500px;
    font-size: 30px;

}

.player1,
.player2{
    padding: 0;
    margin: 0;
    font-size: 80px;
}
.player{
    border: none;
    padding: 12px;
    background-color:  rgb(0, 192, 206);
    border-radius: 15px;


}

button{
    margin: 0;
    margin-top: 20px;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    font-weight: 700px;
    font-size: 20px;
    background-color: rgba(233, 0, 0, 0.527);
    color: white;
    cursor: pointer;
}

.btn-rest{
    display: none;
    margin: 0;
    margin-top: 20px;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    font-weight: 700px;
    font-size: 20px;
    background-color: rgba(233, 0, 0, 0.527);
    color: white;
    cursor: pointer;
}

.select{
    border: none;
    padding: 12px;
    background-color:  rgb(0, 192, 206);
    border-radius: 15px;
    box-shadow: 3px 3px 12px rgb(73, 79, 80), -1px 0 12px rgb(73, 79, 80);
}

.rest{
    margin: 0;
    margin-top: 20px;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    font-weight: 700px;
    font-size: 20px;
    background-color: rgba(201, 92, 92, 0.527);
    color: white;
    cursor: pointer;
}
