html, body {
    margin: 0;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  #overlay{
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
  }
  #modal{
    background-color: white;
    padding: 20px;
    color: black;
    max-width: 600px;
    margin: 0 auto;
    position:relative;
    top: 50%;

  }

  #close-modal, #open-modal{
      padding: 15px 30px;
      color: wheat;
      background-color: blue;
  }